<% if @meetup.user_signed_up?(current_user) %>
  <h5> Change of plans? Can't go? It's ok. We wont hold it against you... </h5>
  <p>
    <%= link_to "Nevermind...", meetup_participation_path(@meetup, @meetup.participation_for(current_user)),
      :data => { :confirm => "Are you sure?" }, 
      :method => :delete 
    %>
  </p>
<% else %>
  <p>
    <%= form_for [@meetup, @participation] do |f| %>
      <%= f.submit "I'm in!" %>
    <% end %>
  </p>
<% end %>
