
  <div class="row">
    
    <div class="panel">
      <%= search_form_for @search do |f| %>
        <%= f.label :neighborhood_name_eq, "Neighborhood:"%>
        <%=f.select :neighborhood_name_eq,
          options_for_select(Neighborhood.all.collect {|n| [n.name, n.name]})
        %>
        <%=f.submit %>
      <%end %>
    </div>

  </div>

